.container {
  display: flex;
  flex-flow: column nowrap;

  @include breakpoint(large-handset-landscape) {
    flex-flow: row nowrap;
  };

  &__left {
    flex-basis: 100%;
    @include breakpoint(large-handset-landscape) {
      flex-basis: 70%;
    };
  }

  &__right {
    flex-basis: 100%;
    background:#d8d8d8;
    transition: transform $animation-time;
    @include breakpoint(large-handset-landscape) {
      flex-basis: 30%;
      transform: translateX(100%);
      padding:3em;
      text-align: center;
    };

    &--open {
      transform: translateX(0);
    }
  }
}
