*, *:after, *:before {
  box-sizing: border-box;
}

html {
  background: $footer-bg;
  overflow-x: hidden;
}

body {
  background: $white;
  overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}
